body{
    font-family: 'Poppins', sans-serif;
}
.honda-header-bg{
    background: #264653;
}

.honda-button{
    background: #E76F51;
    color: white;
}
.honda-text,.reviews{
    color: #E76F51
}
hr{
    border-top:1px solid #E76F51;
   }
.honda-img-gray{
    filter: grayscale(100%);
  }
.honda-button-border{
      border: 1px solid #E76F51;
  }
#client-3{
    width: 195px;
    height: 195px;
    border-radius: 50%;
}
.client-review-text, .news-detail{
    color: #6C6C6C;
    font-size: 16px;
}
.primary-color{
    color: #23A6F0;
}
footer{
    color: white;
}
#get-the-app{
    color: #D9DBE1;
}